@charset "UTF-8";

/* ===ファーストビューの設定ここから=== */
#first-view {
  height: 100vh;
  background: linear-gradient(135deg, #dadada 0%, #ffffff 100%);
  padding: 20vh 2rem;
  overflow: hidden;
}

#first-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-height: 100%;
}

#catchphrase {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 500;
  font-size: 2rem;
}

#first-view-container img {
  max-height: 32vh;
}

#capture {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
}

#first-view h1 {
  font-weight: 900;
  font-size: 3.5rem;
}

.br-phone {
  display: none;
}

/* ボタン */

.button a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
  padding: 1em 2em;
  width: 100%;
  max-width: 300px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 900;
  background-color: #597b9c;
  transition: 0.3s;
  border-radius: 10px;
  margin-top: 2rem;
}

.button a::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border: 3px solid #000000;
  transition: 0.2s;
  border-radius: 10px;
}

.button a:hover::before,
.button a:active::before {
  top: 0;
  left: 0;
}

.button a:hover,
.button a:active {
  text-decoration: none;
  background-color: #80A1BA;
  color: #ffffff;
}

/* ===ファーストビューの設定ここまで=== */


/* h2全体の設定 */
h2 {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 900;
  font-size: 2em;
}

.namisen {
  width: 180px;
}



/* ===Diary Studioについて　ここから=== */

#about {
  width: 100%;
  background-color: #d7eff8;
}

#about-text {
  background-color: #ffffff;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15vh 0 5vh 0;
}

#about-text p {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 1.5rem;
  color: #1d1c1c;
}

#about-text-container {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.reset-font {
  font-family: sans-serif;
}

#about .reset-font {
  font-weight: 900;
  font-size: 2.2rem;
}

#about-text-container .reset-font {
  font-weight: 600;
  font-size: 1.5rem;
}

#about-text .special-text {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 900;
  font-size: 1.6rem;
  color: #f38170;
}

#about-feature {
  display: flex;
  width: 100%;
  max-width: 2000px;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;

  padding-left: 8rem;
  padding-right: 8rem;


  height: 30vh;
}

.feature-contents {
  display: flex;
  flex-direction: column;
}

.feature-contents p {
  text-align: center;
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 500;
  margin-top: 0.6rem;
}

.feature-catchphrase {
  display: flex;
  height: 4rem;
  width: 15rem;
  background-color: #ffffff;
  border-radius: 30px;
  font-size: 1.3rem;
  justify-content: center;
  align-items: center;
}

.feature-catchphrase img {
  height: 80%;
}

#feature-key {
  color: #1b7895;
  border: 2px solid #1b7895;
}

#feature-free {
  color: #5aa96b;
  border: 2px solid #5aa96b;
}

#feature-browser {
  color: #f3952f;
  border: 2px solid #f3952f;
}

#feature-free h3,
#feature-browser h3 {
  margin-left: 0.5rem;
}

/* ===Diary Studioについて　ここまで=== */

/* ===日記をつくる　ここから=== */
#making-diary {
  background-color: #ffffff;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 15vh;
  padding-bottom: 10vh;
}

#making-diary-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  width: 100%;
  max-width: 800px;
}

#making-diary-text {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  color: #1d1c1c;
}


.diary-kinds {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  text-align: center;
}

.diary-features {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
  color: #1d1c1c;
}

/* 日記の設定 */
.cssbook-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cssbook {
  position: relative;
  width: 250px;
  height: 250px;
  margin-top: 2rem;
  perspective: 1500px;
}

.cssbook div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book-toggle {
  display: none;
}

.cover,
.page1,
.page2 {
  position: absolute;
  width: 225px;
  height: 225px;
  border: 3px solid #333;
  transition: 1s;
  backface-visibility: hidden;
}

.cover {
  left: 50%;
  transform-origin: left;
  transform: rotateY(0deg);
  z-index: 10;
  border-radius: 0 15px 15px 0;
}

.page1 {
  right: 50%;
  transform-origin: right;
  transform: rotateY(180deg);
  border-radius: 15px 0 0 15px;
}

.page2 {
  left: 50%;
  transform-origin: left;
  transform: rotateY(0deg);
  z-index: 9;
  border-radius: 0 15px 15px 0;
}

/* それぞれのページの色 */
.picture-book .cover {
  background-color: #91C4C3;
}

.picture-book .page1 {
  background-color: #91C4C3;
}

.picture-book .page2 {
  background-color: #91c4c35d;
}

.tweet-book .cover {
  background-color: #ffbaba;
}

.tweet-book .page1 {
  background-color: #ffbaba;
}

.tweet-book .page2 {
  background-color: #ffbaba5d;
}

/* 表紙・ページが押されたときの開閉アニメーション */
.cssbook .book-toggle:checked~.cover {
  transform: rotateY(-180deg);
}

.cssbook .book-toggle:checked~.page1 {
  transform: rotateY(0deg);
}

/* 表紙・ページをホバーしたときの浮かび上がるアニメーション */
.cssbook .book-toggle:checked~.page1:hover {
  transform: rotateY(15deg) translateZ(5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.cssbook .book-toggle:not(:checked)~.cover:hover {
  transform: rotateY(-15deg) translateZ(5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

/* スクロール時のピークアニメーション */
/* アニメーションの秒数を変更するときは、toppage.jsの定数animationDurationも変える */
.peek-animation {
  animation: peekOpen 1.5s ease-in-out;
}

@keyframes peekOpen {
  0% {
    transform: rotateY(0deg);
  }

  65% {
    transform: rotateY(-75deg) translateZ(5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  100% {
    transform: rotateY(0deg);
  }
}

/* 日記の中身 */
.img-page,
.text-page {
  padding: 10px;
}

.text-page p {
  font-size: 16px;
  color: #1d1c1c;
}

.img-page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-page img {
  width: 100%;
}

.text-page h4 {
  margin: 1rem 0;
}

.blue_marker {
background: linear-gradient(transparent 70%,#91C4C3 70%);
font-weight: 500;
}

.pink_marker {
background: linear-gradient(transparent 70%,#ffbaba 70%);
font-weight: 500;
}

/* 各種ボタンの設定 */
#picturediary-button a {
  color: #385480;
  background-color: #91c4c3ab;
}

#picturediary-button a::before {
  border: 3px solid #385480;
}

#picturediary-button a:hover,
#picturediary-button a:active {
  background-color: #385480;
  color: #ffffff;
}

#tweetdiary-button a {
  color: #ff6363;
  background-color: #ffcdcd;
}

#tweetdiary-button a::before {
  border: 3px solid #ff6363;
}

#tweetdiary-button a:hover,
#tweetdiary-button a:active {
  background-color: #ff6363;
  color: #ffffff;
}

/* ===日記をつくる　ここまで=== */

/* ===お問い合わせ　ここから=== */
#contact-form {
  background-color: #f9f7f0;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15vh;
  padding-bottom: 10vh;
}

.contact-form-text {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  text-align: center;

  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #1d1c1c;
  ;
}

form {
  border: 3px solid #000000;
  background-color: #d7eff8;
  padding: 1rem 5rem;
  border-radius: 20px;
}

.required {
  font-size: 0.8rem;
  font-weight: bold;
  color: #eb4f32;
  margin-left: 0.1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

input[type="text"],
input[type="email"] {
  height: 1.7rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

select {
  height: 1.7rem;
}

textarea {
  resize: vertical;
  width: 100%;
  height: 200px;
  padding: 0.3rem;
}

#proviso {
  font-size: 0.8rem;
  font-weight: bold;
  color: #413d3d;

}

fieldset {
  border: none;
}

legend {
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
  padding-top: 1.2rem;
  padding-bottom: 0.3rem;
}

.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  font-family: inherit;
  appearance: none;
  position: relative;
  margin: 2rem auto 0;
  padding: 1em 2em;
  width: 100%;
  max-width: 300px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 900;
  background-color: #597b9c;
  transition: 0.3s;
  border-radius: 10px;
}

.submit-btn::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border: 3px solid #000000;
  transition: 0.2s;
  border-radius: 10px;
}

.submit-btn:hover::before,
.submit-btn:active::before {
  top: 0;
  left: 0;
}

.submit-btn:hover,
.submit-btn:active {
  background-color: #80A1BA;
}

/* ===お問い合わせ　ここまで=== */